COMPANY_NAME="Vercel Inc."
SITE_NAME="Next.js Commerce"
ADMIN_PASSWORD=""
ADMIN_SESSION_SECRET=""
SHOPIFY_REVALIDATION_SECRET=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STORE_DOMAIN="[your-shopify-store-subdomain].myshopify.com"
